<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cfoco.dao.FlowDao">
	
	<select id="flowlist" parameterMap="pm" statementType="CALLABLE" resultType="Flow">
	   CALL pro_getpigsty(#{tuno,mode=IN});
	</select>
	
	<parameterMap id="pm" type="java.util.Map">
	   <parameter property="tuno" jdbcType="INTEGER" mode="IN"></parameter>
	</parameterMap>	
	
</mapper> 